{% extends "base.html" %}

{% block title %}View Food Details{% endblock %}

{% block content %}
<div class="container-fluid" id="wrapper">

    <div class="row" id="homeJumbo">
        <div class="overlay"></div>
        <div class="col-lg-12">
            <h1>
                <a href="#">FOOD TRACKER</a>
            </h1>
            
            <div class="row t20">
                <div class="col-lg-4 col-lg-offset-4">
                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation">
                            <a href="#" title="Home">Home</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#" title="Add Food Item" class="no-wrap">Add Food Item</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row t20">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="lean-h text-black">
                        <i class="glyphicon glyphicon-calendar"></i> September 09, 2024
                    </h3>

                    <div class="row">
                        <div class="col-lg-3">
                            <h4 class="lean-h">
                                Protein: &nbsp;<strong class="f25">50g</strong>
                            </h4>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="lean-h">
                                Carbohydrates: <strong class="f25">100g</strong>
                            </h4>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="lean-h">
                                Fat: <strong class="f25">30g</strong>
                            </h4>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="lean-h">
                                Calories: <strong class="f25">500</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;">#</th>
                                <th>Name</th>
                                <th style="width: 10%;">Protein</th>
                                <th style="width: 16%;">Carbohydrates</th>
                                <th style="width: 10%;">Fat</th>
                                <th style="width: 12%;">Calories</th>
                                <th style="width: 20%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Chicken Breast</td>
                                <td>30g</td>
                                <td>0g</td>
                                <td>3g</td>
                                <td>165</td>
                                <td>
                                    <button class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Broccoli</td>
                                <td>3g</td>
                                <td>6g</td>
                                <td>0g</td>
                                <td>55</td>
                                <td>
                                    <button class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Rice</td>
                                <td>4g</td>
                                <td>45g</td>
                                <td>1g</td>
                                <td>205</td>
                                <td>
                                    <button class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="row pad">
        <div class="col-lg-12 text-center">
            Copyright &copy; 2024 <strong>Food Tracker</strong>
        </div>
    </div>
</footer>
{% endblock %}
